.outer {
  position: relative;
  left: 20px;
  top: 60px;
}
.box {
  // margin: 0 auto;
  position: absolute;
  left: 0px;
  top: 0px;
}
.me {
  // position: relative;
  background-size: 800px 400px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: -6.5px;
  transition: 0.2s;
  box-shadow: inset 0px 0px 0px 1px white;
}
// .pic {
// margin-top: 20px;
// overflow: hidden;
// }
.pic {
  // position: relative;
  // top: 0px;
  // left: 0;
  // z-index: -1;
  // padding: 0;
  // margin: 0;
  // width: 700px;
  // height: 384px;
  // border: 3px solid black;
}

$i: 0;
// $top : 0;
// $left: 0;
@for $i from 0 through 11 {
  // @if $left == 799.98{
  // $left : 0;
  // $top : $top + 133.33;
  // }
  // .me_#{$i} {
  // height: 133px;
  // width: 133px;
  // background-position: -#{$left}px  -#{$top}px;
  // }
  // $left : $left + 133.33;
}

.prevent_click {
  pointer-events: none;
}
